.task {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.task__title {
  margin-bottom: 5px;
}

.task__remove {
  font-size: 14px;
  margin-left: 20px;
  color: red;
  background: transparent;
  border: 1px solid red;
  border-radius: 4px;
}

.task__inputs {
  display: flex;
  gap: 24.5px;
}

.task__btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
