.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal--hidden {
  display: none;
}

.modal__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  padding: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  position: relative;
}

.modal__message {
  margin-bottom: 20px;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__input {
  border: 2px solid #8b8b8b;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.invalid {
  border: 2px solid #ff0000;
  background-color: rgb(250, 178, 178);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}
