.table__inner {
  border: 2px solid #8b8b8b;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.table__weekdays {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.table__lines {
  margin-bottom: 30px;
}

.table__line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.table__title {
  margin-bottom: 5px;
}

.table__remove {
  font-size: 14px;
  margin-left: 20px;
  color: red;
  background: transparent;
  border: 1px solid red;
  border-radius: 4px;
}

.table__inputs {
  display: flex;
  gap: 24.5px;
}

.table__btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
