body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #1f1f1f;
  color: #fff;
}

.app {
  position: relative;
}

.container {
  max-width: 1380px;
  padding: 10px;
  margin: 0 auto;
}
